<div class="container my-4">
  <div class="row justify-content-between gap-4">
    <aside
      class="bg-light col-lg p-0 d-none d-lg-block"
      style="height: fit-content"
    >
      <a
        routerLink="/products/classic"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-watch"></i> classic</a
      >
      <a
        routerLink="/products/calculator"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-watch-calculator"></i> calculator</a
      >
      <a
        routerLink="/products/fitness"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-watch-fitness"></i> fitness</a
      >
      <a
        routerLink="/products/smart"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-watch-smart"></i> smart</a
      >
      <a
        routerLink="/products/apple"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-watch-apple"></i> apple</a
      >
      <a
        routerLink="/products/stopwatch"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-stopwatch"></i> stop watch</a
      >
      <a
        routerLink="/products/hourglass"
        class="py-2 px-3 d-block text-black text-decoration-none text-capitalize"
      >
        <i class="me-2 fa-regular fa-hourglass"></i> hour glass</a
      >
    </aside>
    <main class="bg-light col-lg-9 p-0 d-flex" style="height: fit-content">
      <div class="slider p-0" style="max-width: 500px">
        <!-- style="z-index: 10; height: 350px;" -->
        <div
          id="carouselExampleCaptions"
          class="carousel slide carousel-fade"
          style="max-width: 500px; height: 350px"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item overflow-hidden active"
              style="max-width: 500px; height: 350px"
            >
              <img
                src="1.jpg"
                class="d-block p-0"
                style="width: 100%; height: 100%"
                alt="favicon.ico"
              />
              <!-- style="width: 70%; height: 70%" -->
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
              </div>
            </div>
            <div
              class="carousel-item overflow-hidden"
              style="max-width: 500px; height: 350px"
            >
              <img
                src="snow.png"
                class="d-block p-0"
                style="width: 100%; height: 100%"
                alt="favicon.ico"
              />
              <!-- style="width: 70%; height: 70%" -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>
                  Some representative placeholder content for the second slide.
                </p>
              </div>
            </div>
            <div
              class="carousel-item overflow-hidden"
              style="max-width: 500px; height: 350px"
            >
              <img
                src="logo on dark wall.png"
                class="d-block p-0"
                style="width: 100%; height: 100%"
                alt="favicon.ico"
              />
              <!-- style="width: 70%; height: 70%" -->
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Some representative placeholder content for the third slide.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-indicators d-flex justify-content-center">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
        </div>
        <div class="" style="width: 500px">
          <img
            src="space logo.png"
            class=""
            style="width: 100%; height: 175px"
            alt=""
          />
        </div>
      </div>
      <div class="d-none d-lg-flex flex-wrap gap-0 w-100 h-100">
        <a href="#" class="box">
          <div class="single-box overflow-hidden">
            <div class="box-content" style="z-index: 20">
              <img src="Untitled-1.png" class="sides side-1" alt="" />
              <div class="sides side-2 bg-light">
                <div class="content">
                  <h5>John Doe</h5>
                  <p>20%</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="box">
          <div class="single-box overflow-hidden">
            <div class="box-content">
              <img src="snow.png" class="sides side-1" alt="" />
              <div class="sides side-2 bg-light">
                <div class="content">
                  <h5>John Doe</h5>
                  <p>20%</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="box">
          <div class="single-box overflow-hidden">
            <div class="box-content">
              <img src="logo on dark wall.png" class="sides side-1" alt="" />
              <div class="sides side-2 bg-light">
                <div class="content">
                  <h5>John Doe</h5>
                  <p>20%</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="box">
          <div class="single-box overflow-hidden">
            <div class="box-content">
              <img src="snow.png" class="sides side-1" alt="" />
              <div class="sides side-2 bg-light">
                <div class="content">
                  <h5>John Doe</h5>
                  <p>20%</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="box">
          <div class="single-box overflow-hidden">
            <div class="box-content">
              <img src="snow.png" class="sides side-1" alt="" />
              <div class="sides side-2 bg-light">
                <div class="content">
                  <h5>John Doe</h5>
                  <p>20%</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="box">
          <div class="single-box overflow-hidden">
            <div class="box-content">
              <img src="logo on dark wall.png" class="sides side-1" alt="" />
              <div class="sides side-2 bg-light">
                <div class="content">
                  <h5>John Doe</h5>
                  <p>20%</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </main>
  </div>
</div>

<div class="pt-5">
  <div class="container">
    <h3 class="text-center mb-4">Top Products</h3>
    <div class="row">
      <app-product-card></app-product-card>
    </div>
  </div>
</div>

<div class="wrapper mb-5">
  <div
    class="item item1 d-flex justify-content-center align-content-center bg-light"
  >
    <img src="Rolex_logo.png" alt="" />
  </div>
  <div
    class="item item2 d-flex justify-content-center align-content-center bg-light"
  >
    <img src="pngwing.comnew.png" alt="" />
  </div>
  <div
    class="item item3 d-flex justify-content-center align-content-center bg-light"
  >
    <img src="Jaeger-leCoultre.png" alt="" />
  </div>
  <div
    class="item item4 d-flex justify-content-center align-content-center bg-light"
  >
    <img
      src="https://louismoinet.com/wp-content/uploads/2024/01/Logo-LM-Web-Header-Golden.png"
      alt=""
    />
  </div>
  <div
    class="item item5 d-flex justify-content-center align-content-center bg-light"
  >
    <img
      src="https://dahdah.jp/wp-content/uploads/2022/05/ludieblue-logo.png"
      alt=""
    />
  </div>
  <div
    class="item item6 d-flex justify-content-center align-content-center bg-light"
  >
    <img src="pngegg.png" alt="" />
  </div>
  <div
    class="item item7 d-flex justify-content-center align-content-center bg-light"
  >
    <img
      src="https://www.watchonista.com/sites/default/files/styles/medium/public/watchographer/300/profile/logo_purnell.jpg?itok=NcpXEAMm"
      alt=""
    />
  </div>
  <div
    class="item item8 d-flex justify-content-center align-content-center bg-light"
  >
    <img
      src="https://singerreimagined.com/wp-content/uploads/2021/04/logo_SR_new-generation_BLACK.png"
      alt=""
    />
  </div>
</div>
