body {
  background-color: #f8f9fa; /* Light background */
  color: #212529; /* Dark text */
  font-family: 'Roboto', sans-serif;
}

.table {
  color: #212529;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: #212529;
}

.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #212529;
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #ffc107;
  border-radius: 10px;
}
