<div class="container my-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mb-3">
      <input
        type="text"
        class="form-control w-50"
        placeholder="Search Users"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />

      <select
        class="text-info text-bg-dark "
        id="itemsPerPage"
        [(ngModel)]="itemsPerPage"
        (change)="onItemsPerPageChange($event)"
      >
        <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">
          {{ option }}
        </option>
      </select>

      <button class="btn btn-outline-cyberpunk" (click)="addUser()">
        Add User
      </button>
      <button class="btn btn-outline-cyberpunk" (click)="exportToCSV()">
        Export to CSV
      </button>
    </div>

    <div *ngIf="filteredUsersArray.length > 0" class="col-12">
      <div class="table-responsive">
        <table class="table table-dark align-middle">
          <thead class="bg-black">
            <tr>
              <th >ID</th>
              <th >User</th>
              <th >UserName</th>
              <th >Birthdate</th>
              <th >Adress</th>
              <th >Phone</th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of filteredUsersArray
                  | paginate : { itemsPerPage: itemsPerPage, currentPage: p };
                trackBy: trackByUserId
              "
            >
              <td class="text-center">{{ user.id }}</td>
              <td>
                <div class="">
                  <div>
                    <div class="fw-bold ">{{ user.firstname }} {{user.lastname }}</div>
                    <div class="text-light  fw-lighter">
                      {{ user.email }}
                    </div>
                  </div>
                </div>
              </td>
              <td class="">{{ user.login.username }}</td>
              <td class="">{{ user.birthDate }}</td>
              <td class="">{{ user.address.street }}</td>
              <td class="">{{ user.phone }}</td>
              <td>
                <div class="d-flex gap-2">
                  <button
                    class="btn btn-sm btn-outline-cyberpunk"
                    title="Edit User"
                    (click)="editUser(user.id)"
                  >
                    <fa-icon [icon]="edit"></fa-icon>
                  </button>
                  <button
                    class="btn btn-sm btn-outline-cyberpunk-danger"
                    title="Delete User"
                    (click)="deleteUser(user)"
                  >
                    <fa-icon [icon]="delete"></fa-icon>
                  </button>
                  <button
                    class="btn btn-sm btn-outline-cyberpunk-primary"
                    title="View User"
                    (click)="viewUser(user.id)"
                  >
                    <fa-icon [icon]="view"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination-controls
        (pageChange)="p = $event"
        class="pagination-controls"
      ></pagination-controls>
    </div>

    <div
      *ngIf="filteredUsersArray.length === 0"
      class="col-12  py-5"
    >
      <p class="text-white">No Users to Show</p>
    </div>
  </div>
</div>
