<footer class="py-5">
  <div class="container footer-content">
    <div class="footer-logo">
      <a routerLink="/" class="text-decoration-none">
        <h3 class="text-black m-0 mb-4">
          Watch <span class="text-white">&</span> Wear
        </h3>
      </a>
      <p>Experience Excellence with Every Click</p>
    </div>
    <div class="footer-sections">
      <div class="footer-section">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Sustainability</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Top Brands</h4>
        <ul>
          <li><a href="#">Rolex</a></li>
          <li><a href="#">Audemars Piguet</a></li>
          <li><a href="#">Breitling Navitimer</a></li>
          <li><a href="#">Jaeger-LeCoultre</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Shop</h4>
        <ul>
          <li><a href="#">All Products</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Best Sellers</a></li>
          <li><a href="#">Sale</a></li>
        </ul>
      </div>
      <footer class="footer-section mt-2">
        <h4>Contact</h4>
        <form action="#">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="email" class="form-control" id="name" placeholder="" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Your Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn my-btn">Submit</button>
        </form>
      </footer>
    </div>
  </div>
</footer>
