<footer class="py-5 bg-warning">
    <div class="container footer-content">
      <div class="footer-logo">
        <a routerLink="/" class="text-decoration-none">
          <h3 class="text-black m-0 mb-4 fw-bolder fs-4">
            Watch <span class="text-white">&</span> Wear
          </h3>
        </a>
        <p>Experience Excellence with Every Click</p>
      </div>
      <div class="footer-sections row">
        <div class="footer-section col-md-4">
          <h4>Company</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">About Us</a></li>
            <li><a href="#" class="text-dark">Careers</a></li>
            <li><a href="#" class="text-dark">Press</a></li>
            <li><a href="#" class="text-dark">Sustainability</a></li>
          </ul>
        </div>
        <div class="footer-section col-md-4">
          <h4>Top Brands</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">Rolex</a></li>
            <li><a href="#" class="text-dark">Audemars Piguet</a></li>
            <li><a href="#" class="text-dark">Breitling Navitimer</a></li>
            <li><a href="#" class="text-dark">Jaeger-LeCoultre</a></li>
          </ul>
        </div>
        <div class="footer-section col-md-4">
          <h4>Shop</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">All Products</a></li>
            <li><a href="#" class="text-dark">New Arrivals</a></li>
            <li><a href="#" class="text-dark">Best Sellers</a></li>
            <li><a href="#" class="text-dark">Sale</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  