<div class="container">
    <!-- Title  -->
    <div class="row my-3 align-items-center">
      <div class="col-md-6">
        <h3 style="font-style: italic;" class="card-title">{{ data?.title }}</h3>
    
      </div>
    
    </div>
  
    <!--  Brand, SKU  -->
    <div class="row mb-4">
      <div class="col">
        <span class="card-title text-muted"><b>Brand:</b> {{ data?.brand }}</span>
        <span class="vr mx-3"></span>
        <span class="card-text text-muted"><b>SKU:</b> {{ data?.sku }}</span>
        <span class="vr mx-3"></span>
        <span class="card-text text-muted"><b>Rating:</b> <div class="star-rating d-inline-block mb-2">
          <i *ngFor="let star of fullStars" class="fa fa-star text-success"></i>
          <i *ngIf="halfStar" class="fa fa-star-half-alt text-success"></i>
          <i *ngFor="let star of emptyStars" class="fa fa-star empty"></i>
          <span class="ms-2">({{ data?.rating }})</span>
        </div></span>
     
  
      </div>
    </div>
  
    <!--  Product Details -->
    <div class="row">
      <div class="col-md-5 " >
        <img 
        [src]="selectedImage || data?.thumbnail"
        class="img-fluid rounded-start w-75" alt="..." />
        <div class="image-gallery mt-4 d-flex gap-3">
          @for (img of data?.images; track $index) {
            <img [src]="img" 
            [class.selected]="img === selectedImage"
              (click)="selectedImages(img)"
            width="100" height="100" class="rounded" />
          }
        </div>
      </div>
  <!-- ///////////////////body card ////////////////////////////-->
      <div class="col-md-7">
        <div class="card-body">
   <!-- Pricing Options -->
   <div class=" card-text ">
    <div class="pricing-option">
      <!-- <i class="fas fa-credit-card" style="font-size: 24px; color: #343033;"></i> -->
      <span style="font-size: 28px; color: #343033; font-weight: bold;">{{ data?.price | priceAfterDiscount : data?.discountPercentage }} <span>$</span> <small class="text-muted" ></small></span>
      <span class="vr  mx-3"></span>
      <span class="text-muted "><del>{{ data?.price }}</del> </span>
    </div>
    <div >
      <span><small class="text-muted" >Store: </small><a href="" style="text-decoration: none;"> {{data?.brand}}</a> </span>
      @if (data?.stock > 0) {
        <span class="vr mx-3"></span>
       <span class="card-title " style=" color: rgb(38, 164, 120);">
          <small class="text-muted" >Status :</small>  In Stock
          </span>
      
      } @else if (data?.stock <= 10) {
        <span class="vr mx-3"></span>
        <span class="card-title " style=" color: rgb(164, 38, 38);">
           <b class="text-muted" >Status :</b>  Low Stock
           </span>
      }
  
    </div>
  </div>
  
          <hr />
  
  <!-- //////////////////////////////////////////////////////////////// -->
   <!--  Product Description -->
  
          <!-- <p class="card-text">{{ data.description }}</p> -->
          <div class="d-flex  ">  
          <p class="card-text">{{ data?.description }}</p>
            <div class="d-flex align-items-center p-md-5 ms-3">
              <!-- <span class="badge rounded-pill text-bg-info ">{{ data.category }}</span>
              <span class="badge rounded-pill text-bg-info">{{ data.category }}</span> -->
  
            </div>
        
          </div>
  
          <hr />
          <!-- Product Actions -->
          <div class="container d-flex align-items-center justify-content-between">
            <div class="quantity-selector input-group d-inline-flex align-items-center">
              <span (click)="minus()" class="" type="button" style="color: #6c757d;">
                <i class="fas fa-minus"></i>
                 
              </span>
              
           <span   class="form-control text-center  text-black mx-2" style="max-width: 60px; border: none;" >{{ cardItems }}</span>
              <span (click)="add()" class="" type="button" style="color: #6c757d;">
                <i class="fas fa-plus"></i>
              </span>
            </div>
            <!--///////////////////////////////////////////  -->
            <button class="btn btn-warning text-dark fw-bold ms-3" style="padding: 10px 20px; border-radius: 5px;">
              Add to cart
            </button>
            <div class="d-flex align-items-center ms-3">
              <i class="fas fa-heart me-3" style="font-size: 24px; color: #6c757d;"></i>
              <i class="fas fa-chart-bar" style="font-size: 24px; color: #6c757d;"></i>
            </div>
          </div>
          
  
        </div>
      </div>
    </div>
  <!-- </div> -->
  
  